body {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

.header {
    background-color: rgb(31, 30, 30); 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1680px;
    margin: 0 auto;
}

.header-title {
    color: #fff;
    font-weight: 700;
    font-size: 1.2em;
    padding: 30px 20px;
}

.header-title:hover {
    color: #000;
    background-color: #fff;
}

.header-nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.header-nav__menu-item {
    padding: 30px 20px;
    margin: 0px 30px;
}

.header-nav__menu-item:hover {
    color: #000;
    background-color: #fff;
    font-weight: 700;
    padding: 30px 19px;
}

.header-link {
    color: rgb(31, 30, 30);
    background-color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 100px;
    padding: 15px;
    margin: 20px;
}

main .container,
footer .container {   
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
}

.banner-container {
    background-color: rgb(31, 30, 30);
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 500px;
    margin-bottom: 120px;
}

.banner-block {
    color: #fff;
    padding: 20px;
}

.banner-title {
    font-size: 5em;
    font-family: 'Lobster Two', cursive;
}

.banner-subtitle {
    font-size: 1.2em;
    font-weight: 300;
    margin: 10px 0;
}

.banner-link {
    display: inline-block;
    color: rgb(31, 30, 30);
    background-color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 15px;
    margin: 10px 0;
    border-radius: 100px;
}

.banner-image {
    display: inline-block;
    width: 700px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.divisor {
    background-color: #b52f25;
    height: 100px;
}

.linha-do-tempo {
    background-color: #1f1e1e;
}

.linha-do-tempo nav {
    position: sticky;
    top: -1px;
    background-color: #b42310;
    padding: 20px 0;
    z-index: 2;
}

.linha-do-tempo ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;    
}

.linha-do-tempo ul::-webkit-scrollbar {
    width: 5px;
    display: none;
}
   
.linha-do-tempo ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: #fff;
}
   
.linha-do-tempo ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #b42310;
}

.linha-do-tempo ul li {
    padding: 0 20px;
    width: 200px;
    color: white;
    margin: 10px;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.3;
}

.linha-do-tempo ul li:first-child {
    margin-left: 0;
    padding-left: 0;
}

.linha-do-tempo ul li:last-child {
    margin-right: 0;
    padding-right: 0;
}

.artigos-linha-do-tempo {   
    position: relative;
}

.artigos-linha-do-tempo::after {
    position: absolute;
    content: " ";
    width: 10px;
    background-color: #b42310;
    top: 0;
    bottom: 0;
    left: 50%;
}

.artigo-container {
    padding-top: 100px;
    position: relative;
    width: 37%;
}

.artigo-container:last-child {
    padding-bottom: 100px;
}

.artigo-container::after {
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 8px solid #b42310;
    border-radius: 50%;
    z-index: 1;
    bottom: 109px;
}

.artigo-container:last-child::after {
    bottom: 210px;
}

.artigo-container.left {
    left: 15%;
    margin-right: 20px;
}

.artigo-container.left::after {
    right: 0;
}

.artigo-container.left .artigo-content::before {
    content: " ";
    position: absolute;
    bottom: 113px;
    right: -50px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid transparent;
    border-left: 25px solid #FFF;
}

.artigo-container.right {
    left: 48.5%;
    margin-left: 2px;
    display: flex;
    justify-content: flex-end;
}

.artigo-container.right::after {
    left: 0;
}

.artigo-container.right .artigo-content::before {
    content: " ";
    position: absolute;
    bottom: 113px;
    left: -50px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid #FFF;
    border-left: 25px solid transparent;
}

.artigo-content {
    background-color: #FFF;
    display: flex;
    flex-direction: column-reverse;
    width: 500px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    position: relative;
}

.artigo-content-text {
    text-align: left;
    padding: 20px;
}

.artigo-content-text h2 {
    font-size: 1.25em;
    margin-bottom: 8px;
}

.artigo-content-text p {
    line-height: 1.25;
}

.artigo-content-img {
    object-fit: cover;
    object-position: 20% 10%;
    height: 450px;
}

.footer {
    background-color: #f4f4f4;

}

.footer-container {
    padding: 80px 0;
}

.footer-title {
    font-size: 3em;
    margin-bottom: 82px;
    margin-left: 24px;
}

.footer-reliquias {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer-reliquias__item:first-child figure {
    margin-left: 20px;
}

.footer-reliquias__item-figure {
    width: 500px;
    margin: 0 24px;
}

.footer-reliquias__item-figure img {
    width: 100%;
    height: 600px;
}

.footer-reliquias__item-figure:last-child img {
    object-fit: cover;
    object-position: 43% 10%;
}

.footer-reliquias__item-figure figcaption {
    margin-top: 8px;
    color: #4a4a4a;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
}